<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <style>
        .jumbotron {
            background-image: url("{{ asset('images/')}}13.jpg");
        }
        body {
            position: relative;
        }
    </style>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
            <a class="navbar-brand" href="{{ path('message_index') }}"><h3>TDSIBlog</h3></a>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('message_index') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('message_new') }}">Creer article <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('message_index') }}">Mes articles <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="color:white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categoiries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('message_politique') }}">Developpement</a>
                            <a class="dropdown-item" href="{{ path('message_sport') }}">Sport</a>
                            <a class="dropdown-item" href="{{ path('message_deve') }}">Linux</a>
                            <a class="dropdown-item" href="{{ path('message_securite') }}">Securite</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active my-2 my-lg-0">
                        <a class="nav-link" href="{{ path('user_login') }}">Connexion<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active my-2 my-lg-0">
                        <a class="nav-link" href="{{ path('user_new') }}">Inscription<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        {# C'est pour le carrousel  #}
        <div id="carouselExampleIndicators" class="carousel slide  " data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class=" w-100 p-3" src="{{ asset('images/') }}13.png" >
                    <div class="carousel-caption d-none d-md-block">
                
                    </div>
                </div>
                <div class="carousel-item">
                <img class=" w-100 p-3"  src="{{ asset('images/') }}13.png" >
                    <div class="carousel-caption d-none d-md-block">
                        <p>
                    </div>
                </div>
                <div class="carousel-item">
                <img class=" w-100 p-3" src="{{ asset('images/') }}13.png">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        {% block body %}
        <span class="jumbotron"></span>
        {% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>


