{% extends 'base.html.twig' %}

 {% block body %}

        <div class="container">
        <div id="blog" class="row">
            <div class="col-md-12 blogShort">
            <h3>{{ message.titre }}</h3>
            <img src="{{ asset('images/') }}{{ message.nomImage}}" alt="post img" style="width: 260px;height: 173px" class="pull-left zoom img-responsive thumb margin10 img-thumbnail"><br>
            <em>Extrait de l'article <a href="#" target="_blank"> {{ message.titre }}  </a></em><span> &nbsp;&nbsp;&nbsp;publie  le {{ message.dateAt|date("d-m-Y") }} par <b> {{ message.auteur }}</b></span><br>
            {{ message.description }}</p></article><hr>
            </div>
            <div class="col-md-12 gap10">
            {% for comments in comments  %}
               <h4><b>Auteur:</b><i> {{ comments.auteur }}</i></h4>
               <p><b>Commentaire:</b> {{ comments.description }}</p>
            {% endfor %}

            {# formulaire  commentaire #}
                {#<p class="btn sh btn-success" style="margin-left: 8%">commentaire </p><br>#}
                {#<div class="com">#}
                    {{ form_start(comment1) }}
                    {{ form_row(comment1.auteur, {'label':'Auteur' ,'attr':{'placeholder':'Nom de l auteur' ,'class':'form-control col-3'}}) }}
                    {{ form_row(comment1.description, {'label':'Description' ,'attr':{'placeholder':' description' ,'class':'form-control'}})}}
                       <br> <input class="btn btn-success" type="submit" value="Commentaire">
                    {{ form_end(comment1)}}
                {#</div>#}
            <br> <br>

            {{ form_start(delete_form) }}
                <a class="btn btn-primary" href="{{ path('message_index') }}">Retour aux articles</a>
                <input class="btn btn-danger" type="submit" value="Supprimer">
                <a class="btn btn-primary" href="{{ path('message_edit', { 'id': message.id }) }}">Modifier</a>
            {{ form_end(delete_form) }}
            </div>
        </div><br><br><br><br>
        </div>

         {#<script>#}
             {#$(document).ready(function () {#}
                 {#$('.com').hide();#}
                 {#$('.sh').click(function () {#}
                     {#$('.com').slideDown(1500);#}
                     {#$('.sh').hide();#}

                 {#});#}
             {#});#}
         {#</script>#}

{% endblock %} 